# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
env/
ENV/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Operating system artifacts
.DS_Store
Thumbs.db

# IDE and Editor files
.vscode/
.idea/
